@font-face {
    font-family: 'Sub-Font'; 
    src: url('../font/Aladin-Regular.ttf') format('truetype');
    font-family: 'Heading-Font'; 
    src: url('../font/IMFellGreatPrimerSC-Regular.ttf') format('truetype');
  } 